<p>{{ title | captalizePhillips}}</p>
<app-navbar></app-navbar>
<app-url-imagens></app-url-imagens>
<app-show-hide>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
        libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
        voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!
    </p>
</app-show-hide>
<app-card>
    <p id="titulo">Título do card</p>
    <p id="subtitulo">Descrição do card</p>
    <p id="texto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
        libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
        voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!
    </p>
</app-card>
<app-card>
    <p id="titulo">2Título do card</p>
    <p id="subtitulo">2Descrição do card</p>
    <p id="texto">
        2Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
        libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
        voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!
    </p>
</app-card>
<app-item-validacao></app-item-validacao>