<div class="container">
    <app-show-hide>
        <p>
            OUTRO TEXTO Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
            libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
            voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!
        </p>
    </app-show-hide>
    <div class="card" style="width: 18rem;" *ngFor="let item of arrayFotos">
        <img [src]="item.url" class="card-img-top" [alt]="item.description">
        <div class="card-body">
            <h5 class="card-title">{{ item.description }}</h5>
        </div>
    </div>
</div>